html,body {
    margin: 0;
    padding: 0;
  }

body {
    padding-top: 1em;
    text-align: center;
    background-color: black;
    /*background-image: url('img/grass1.jpg'); */
    background-size: cover;
    background-repeat: space;
  }

/* .floor{
    position: absolute;
    //background-image: url('../img/better grass.png'); 
    height: 100%;
    width: 100%;
} */

.score{
    font-size: 72;
    color: blue;
}

canvas{
    background-image: url('/img/betterGrass.png') ;
    width: 80vw;
    height: 90vh;
    background-size: contain;

}

